@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #080808;
  color: #eee;
  font-family: "Google Sans Code", sans-serif;
}

.homepage {
  display: flex;
  width: 100%;
  height: 100vh;
}

.homepage-main-content {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
  gap: 30px;
  align-items: center;
}

.homepage-main-content h1 {
  font-size: 80px;
}

.homepage-main-content button {
  background-color: #fff;
  color: #080808;
  border: 0;
  border-radius: 40px;
  font-size: 1.5rem;
  padding: 10px 30px;
}

.homepage-main-content button:hover {
  background-color: #ddd;
  cursor: pointer;
}

/* #111111e6; */
